<div class="d-flex justify-content-between">
  <div class="card mr-3">
    <p class="heading"></p>
    <p>
      <img src="assets/img/tarfic.gif" alt="GIF 2" class="card-img-top">

    </p>
    <p>Traffic Flow </p>
  </div>

  <div class="card">
    <p class="heading"></p>
    <p>
      <img src="assets/img/car2.gif" alt="Image 2" class="card-img-top">
    </p>
    <p>Vehicle Dashboard Mockup</p>
  </div>

  <div class="card ml-auto">
    <p class="heading"></p>
    <p>
      <img src="assets/img/radar.gif" alt="Image 1" class="card-img-top">

    </p>
    <p>Radar </p>
  </div>
</div>
